In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [13]:
df=pd.read_csv(r'C:\Users\user\Desktop\sachin\source\linear_regressionmultiple_variable.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [14]:
import math
bedroomsmedian=math.floor(df.bedrooms.median())
bedroomsmedian

3

In [15]:
df.bedrooms=df.bedrooms.fillna(bedroomsmedian)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [18]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [19]:
reg.predict([[4000,5,10]])

array([734350.])

In [20]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [22]:
reg.intercept_

383724.99999999994